<hr style="padding-bottom:1vw;" class=" featurette-divider ">
<div style="padding-bottom: 1; padding-top: 1vw; padding-bottome:0; ">
  <footer1 style="line-height:0.5;position:absolute; padding-bottom: 0; ">
    <p>&copy; Tcombinator 2022</p>
  </footer1>
</div>
<!-- -- Footer ends  -->

</body>
</html>
<script src="js/jquery.js "></script>
<script src="js/bootstrap-transition.js "></script>
<script src="js/bootstrap-alert.js "></script>
<script src="js/bootstrap-modal.js "></script>
<script src="js/bootstrap-dropdown.js "></script>
<script src="js/bootstrap-scrollspy.js "></script>
<script src="js/bootstrap-tab.js "></script>
<script src="js/bootstrap-tooltip.js "></script>
<script src="js/bootstrap-popover.js "></script>
<script src="js/bootstrap-button.js "></script>
<script src="js/bootstrap-collapse.js "></script>
<script src="js/bootstrap-carousel.js "></script>
<script src="js/bootstrap-typeahead.js "></script>
